<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.giovanni.alfred-michelin</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0F8E283B-B3A5-4A38-BD5A-64CDEBA6DBE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A77C5978-3BA8-4159-ABDA-233532AB4E30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle Visited {var:visitedEmoji}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Toggle favorite {var:favoriteEmoji}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7EE6D84A-08FE-4A1A-A2B8-EF93F3575715</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>ℹ️ details</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85143491-24AE-41B8-B7B7-C095D1DB0A68</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>🏆️ award history</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51B7FD0A-6DE9-4B4F-AE1D-2BF01CC8D3DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4130124-75E6-46B0-93CF-0CF8AA4C28DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6795AE46-BC1D-4E60-997F-026AA72EC95F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1375C0DD-7427-4D82-9937-5202BDC1AB6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EE6D84A-08FE-4A1A-A2B8-EF93F3575715</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A77C5978-3BA8-4159-ABDA-233532AB4E30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>825D446C-98A1-46FC-BA16-60854947B30B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF83B6EC-FD6C-41D1-B5D0-BD7178CDA4E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85143491-24AE-41B8-B7B7-C095D1DB0A68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7146317A-BD7F-489C-A78D-57A0DA858AE3</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>⬅️back</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6795AE46-BC1D-4E60-997F-026AA72EC95F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4AFD0239-D2EA-4394-A9B6-0D59FFE494F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF83B6EC-FD6C-41D1-B5D0-BD7178CDA4E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EE6D84A-08FE-4A1A-A2B8-EF93F3575715</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>ℹ️ details</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1F1E491-C70B-460A-B27C-61BC8479580C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88562678-F1C5-4DD5-B5EC-12034506A54B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle Visited {var:visitedEmoji}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F19B829-B2E3-4841-B4F0-300CB2F02183</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Toggle favorite {var:favoriteEmoji}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BEFBFB73-3B67-461D-AF82-E8C72811F31D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>award history</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4130124-75E6-46B0-93CF-0CF8AA4C28DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EE6D84A-08FE-4A1A-A2B8-EF93F3575715</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>ℹ️ details</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>05B542ED-454F-451D-B50B-29B004FC946B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6E17A5A-14E9-4B08-9329-4AB936FD14D3</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle Visited {var:visitedEmoji}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AC82E1ED-1160-48DA-A63A-11F85AC88D5A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Toggle favorite {var:favoriteEmoji}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECA62F22-F94B-4CC8-A102-0F495A8D7C39</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>award history</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F67815C1-2ABE-4D59-824E-B70F9BFD6CDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F8E283B-B3A5-4A38-BD5A-64CDEBA6DBE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>Search, favorite, and track your Michelin guide restaurants</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Michelin Guide</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$OPEN_IN_URL"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>openURL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A77C5978-3BA8-4159-ABDA-233532AB4E30</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Restaurant Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6795AE46-BC1D-4E60-997F-026AA72EC95F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:MICHELIN_KEY}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳️ one moment please...</string>
				<key>script</key>
				<string>./michelin search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Starred Dining. Instantly 🎩</string>
				<key>title</key>
				<string>Michelin Guide</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:search_query}</string>
				<key>externalid</key>
				<string>main_search</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F8E283B-B3A5-4A38-BD5A-64CDEBA6DBE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F67815C1-2ABE-4D59-824E-B70F9BFD6CDB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./michelin toggle-visited $restaurant_id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>visited</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./michelin toggle-favorite $restaurant_id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>favorite</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>main_search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>4AFD0239-D2EA-4394-A9B6-0D59FFE494F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>showDescription.sh</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>7EE6D84A-08FE-4A1A-A2B8-EF93F3575715</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>main_search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>7146317A-BD7F-489C-A78D-57A0DA858AE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading award history...</string>
				<key>script</key>
				<string>./michelin award-history $restaurant_id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View award history for this restaurant</string>
				<key>title</key>
				<string>Restaurant Award History</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>listAwards</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85143491-24AE-41B8-B7B7-C095D1DB0A68</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>main_search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1375C0DD-7427-4D82-9937-5202BDC1AB6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>openURL</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A1F1E491-C70B-460A-B27C-61BC8479580C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>openURL</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>05B542ED-454F-451D-B50B-29B004FC946B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>visited</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>88562678-F1C5-4DD5-B5EC-12034506A54B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>favorite</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8F19B829-B2E3-4841-B4F0-300CB2F02183</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>visited</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D6E17A5A-14E9-4B08-9329-4AB936FD14D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>51B7FD0A-6DE9-4B4F-AE1D-2BF01CC8D3DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:FAVORITE_KEY}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading favorite restaurants...</string>
				<key>script</key>
				<string>./michelin favorites "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View your favorite Michelin restaurants</string>
				<key>title</key>
				<string>Michelin Favorite Restaurants</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4130124-75E6-46B0-93CF-0CF8AA4C28DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listAwards</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BEFBFB73-3B67-461D-AF82-E8C72811F31D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>favorite</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>AC82E1ED-1160-48DA-A63A-11F85AC88D5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:VISITED_KEY}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading visited restaurants...</string>
				<key>script</key>
				<string>./michelin visited "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View your visited Michelin restaurants</string>
				<key>title</key>
				<string>Michelin Visited Restaurants</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF83B6EC-FD6C-41D1-B5D0-BD7178CDA4E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>825D446C-98A1-46FC-BA16-60854947B30B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>listAwards</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>ECA62F22-F94B-4CC8-A102-0F495A8D7C39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Michelin Guide ✨️
A Workflow to search, favorite, and track your visits to 20,000+ Michelin guide restaurants around the world.

Feeling fancy? 🎩 Find your next Michelin-starred restaurant with Alfred. ✨

![](screenshot.png)

## Usage

- `!mm [query]` - Search for Michelin restaurants by name, location, cuisine, or distinction
- `!mf` - View all your favorite restaurants
- `!mf [query]` - Search within your favorite restaurants
- `!mv` - View all restaurants you've visited
- `!mv [query]` - Search within your visited restaurants

Once a restaurant is identified: 

- `CTRL`: **❤️Favorite**: Toggle restaurant favorite status
- `ALT`: **✅️Visited**: Toggle restaurant visited status
- `CMD`: **🏆️Awards**: View award history for restaurant (CMD+ALT: back)
- `SHIFT`: **ℹ️More details**</string>
	<key>uidata</key>
	<dict>
		<key>05B542ED-454F-451D-B50B-29B004FC946B</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>1395</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>0F8E283B-B3A5-4A38-BD5A-64CDEBA6DBE2</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>1375C0DD-7427-4D82-9937-5202BDC1AB6E</key>
		<dict>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>4AFD0239-D2EA-4394-A9B6-0D59FFE494F1</key>
		<dict>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>51B7FD0A-6DE9-4B4F-AE1D-2BF01CC8D3DC</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>6795AE46-BC1D-4E60-997F-026AA72EC95F</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>❤️ favorite</string>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7146317A-BD7F-489C-A78D-57A0DA858AE3</key>
		<dict>
			<key>xpos</key>
			<real>1150</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>7EE6D84A-08FE-4A1A-A2B8-EF93F3575715</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>825D446C-98A1-46FC-BA16-60854947B30B</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>85143491-24AE-41B8-B7B7-C095D1DB0A68</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>🏆️ award history</string>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>88562678-F1C5-4DD5-B5EC-12034506A54B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>✅️ visited</string>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>8F19B829-B2E3-4841-B4F0-300CB2F02183</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>A1F1E491-C70B-460A-B27C-61BC8479580C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>A77C5978-3BA8-4159-ABDA-233532AB4E30</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Open URL</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>AC82E1ED-1160-48DA-A63A-11F85AC88D5A</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>1560</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>✅️ visited</string>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>BEFBFB73-3B67-461D-AF82-E8C72811F31D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>BF83B6EC-FD6C-41D1-B5D0-BD7178CDA4E9</key>
		<dict>
			<key>note</key>
			<string>✅️visited</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>D6E17A5A-14E9-4B08-9329-4AB936FD14D3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>✅️ visited</string>
			<key>xpos</key>
			<real>1560</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>ECA62F22-F94B-4CC8-A102-0F495A8D7C39</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>1560</real>
			<key>ypos</key>
			<real>685</real>
		</dict>
		<key>F4130124-75E6-46B0-93CF-0CF8AA4C28DB</key>
		<dict>
			<key>note</key>
			<string>❤️ favorites</string>
			<key>xpos</key>
			<real>1160</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>F67815C1-2ABE-4D59-824E-B70F9BFD6CDB</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>restaurant</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Restaurant Website</string>
						<string>restaurant</string>
					</array>
					<array>
						<string>Michelin Guide</string>
						<string>michelin</string>
					</array>
					<array>
						<string>Google Maps</string>
						<string>maps</string>
					</array>
					<array>
						<string>Apple Maps</string>
						<string>apple_maps</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Open in</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>OPEN_IN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Include restaurants previously listed in the Michelin Guide?</string>
			<key>label</key>
			<string>Include former?</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>INCLUDE_FORMER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!mm</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MICHELIN_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!mf</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Favorites Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FAVORITE_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!mv</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Visited Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>VISITED_KEY</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-michelin</string>
</dict>
</plist>
