<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.giovanni.alfred-michelin</string>
	<key>connections</key>
	<dict>
		<key>0F8E283B-B3A5-4A38-BD5A-64CDEBA6DBE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Toggle favorite ❤️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Toggle Visited ✅️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A77C5978-3BA8-4159-ABDA-233532AB4E30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C08CBB9C-BB75-4814-8F76-CCB045690478</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show Award history 🏅</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F5FD263-68F7-4B57-9E0F-1D4A414B3EB9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show historyyy</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AWARD-HISTORY-FILTER-UUID</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show Award History (SHIFT)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B204DEA-BC95-4EE4-BAA4-76E271A1BA77</key>
		<array/>
		<key>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6795AE46-BC1D-4E60-997F-026AA72EC95F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1375C0DD-7427-4D82-9937-5202BDC1AB6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FE62936-C125-48A2-9857-879B401B9074</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EDD7788-C956-48A6-9583-D6A07CB80639</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85143491-24AE-41B8-B7B7-C095D1DB0A68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F521F24B-2966-469C-9510-0BC915C6C37A</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>back</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F5FD263-68F7-4B57-9E0F-1D4A414B3EB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C08CBB9C-BB75-4814-8F76-CCB045690478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D51B1D1-D8E5-48FE-B689-9B99C5F334B6</key>
		<array/>
		<key>AWARD-HISTORY-FILTER-UUID</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FE62936-C125-48A2-9857-879B401B9074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AWARD-HISTORY-SCRIPT-UUID</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B204DEA-BC95-4EE4-BAA4-76E271A1BA77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6795AE46-BC1D-4E60-997F-026AA72EC95F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4AFD0239-D2EA-4394-A9B6-0D59FFE494F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF83B6EC-FD6C-41D1-B5D0-BD7178CDA4E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F5FD263-68F7-4B57-9E0F-1D4A414B3EB9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>show historyyyy</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B204DEA-BC95-4EE4-BAA4-76E271A1BA77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C08CBB9C-BB75-4814-8F76-CCB045690478</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85143491-24AE-41B8-B7B7-C095D1DB0A68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4ADAB6A-8C7D-4555-9C98-76D91C027348</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AWARD-HISTORY-SCRIPT-UUID</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7FE62936-C125-48A2-9857-879B401B9074</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4130124-75E6-46B0-93CF-0CF8AA4C28DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89CF4FEB-7AC5-4DCE-AD02-B01C37A03F45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F521F24B-2966-469C-9510-0BC915C6C37A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7146317A-BD7F-489C-A78D-57A0DA858AE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>Search, favorite, and track your Michelin guide restaurant visits</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Michelin Guide</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./michelin toggle-favorite "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Restaurant Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6795AE46-BC1D-4E60-997F-026AA72EC95F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mmich</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./michelin search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for restaurants by name, location, or distinction</string>
				<key>title</key>
				<string>Search Michelin Restaurants</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:search_query}</string>
				<key>externalid</key>
				<string>main_search</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F8E283B-B3A5-4A38-BD5A-64CDEBA6DBE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./michelin toggle-visited "$1" "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$OPEN_IN"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A77C5978-3BA8-4159-ABDA-233532AB4E30</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:restaurant_name}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C08CBB9C-BB75-4814-8F76-CCB045690478</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>main_search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>7146317A-BD7F-489C-A78D-57A0DA858AE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>main_search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>0D2F33FF-5998-4C76-8306-F8FCD1B679F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>8F5FD263-68F7-4B57-9E0F-1D4A414B3EB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading award history...</string>
				<key>script</key>
				<string>./michelin award-history $restaurant_id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View award history for this restaurant</string>
				<key>title</key>
				<string>Restaurant Award History</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85143491-24AE-41B8-B7B7-C095D1DB0A68</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F521F24B-2966-469C-9510-0BC915C6C37A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>main_search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1375C0DD-7427-4D82-9937-5202BDC1AB6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading visited restaurants...</string>
				<key>script</key>
				<string>./michelin visited "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View your visited Michelin restaurants</string>
				<key>title</key>
				<string>Michelin Visited Restaurants</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF83B6EC-FD6C-41D1-B5D0-BD7178CDA4E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>main_search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>4AFD0239-D2EA-4394-A9B6-0D59FFE494F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./michelin award-history "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AWARD-HISTORY-SCRIPT-UUID</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0EDD7788-C956-48A6-9583-D6A07CB80639</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mrd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading restaurant details...</string>
				<key>script</key>
				<string>./michelin get "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View restaurant details and available actions</string>
				<key>title</key>
				<string>Michelin Restaurant Details</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7FE62936-C125-48A2-9857-879B401B9074</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading favorite restaurants...</string>
				<key>script</key>
				<string>./michelin favorites</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View your favorite Michelin restaurants</string>
				<key>title</key>
				<string>Michelin Favorite Restaurants</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4130124-75E6-46B0-93CF-0CF8AA4C28DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>89CF4FEB-7AC5-4DCE-AD02-B01C37A03F45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9D51B1D1-D8E5-48FE-B689-9B99C5F334B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Restaurant Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5B204DEA-BC95-4EE4-BAA4-76E271A1BA77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>toggle-favorite</string>
						<key>outputlabel</key>
						<string>Toggle Favorite</string>
						<key>uid</key>
						<string>1702D02F-8ED1-4A26-A3F0-F9E8F38AE0F4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>toggle-visited</string>
						<key>outputlabel</key>
						<string>Toggle Visited</string>
						<key>uid</key>
						<string>7D37EFBE-BF44-41C4-9A32-EFE6BF8BE60A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>award-history</string>
						<key>outputlabel</key>
						<string>Award History</string>
						<key>uid</key>
						<string>AWARD-HISTORY-CONDITION-UUID</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Get Details</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C4ADAB6A-8C7D-4555-9C98-76D91C027348</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading award history...</string>
				<key>script</key>
				<string>./michelin award-history "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View award history for this restaurant</string>
				<key>title</key>
				<string>Restaurant Award History</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AWARD-HISTORY-FILTER-UUID</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Michelin Guide for Alfred

Search, favorite, and track your Michelin guide restaurant visits with Alfred.

## Commands

- `mmich [query]` - Search for restaurants by name, location, or distinction
- `mf` - View your favorite restaurants
- `mv` - View your visited restaurants
- `mrd [id]` - View restaurant details

## Features

- Search through 17,000+ Michelin guide restaurants
- View restaurant details and visit the restaurant's website
- Save restaurants to your favorites list
- Track restaurants you've visited
- Add notes to your restaurant visits
- **NEW:** Press SHIFT+Enter when selecting a restaurant to view its award history
- **NEW:** Press CMD+ALT+Enter in award history to go back to search results

## Requirements
- Alfred Powerpack
- Go 1.15 or later (for development)</string>
	<key>uidata</key>
	<dict>
		<key>0D2F33FF-5998-4C76-8306-F8FCD1B679F3</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>0EDD7788-C956-48A6-9583-D6A07CB80639</key>
		<dict>
			<key>xpos</key>
			<real>1135</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>0F8E283B-B3A5-4A38-BD5A-64CDEBA6DBE2</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>1375C0DD-7427-4D82-9937-5202BDC1AB6E</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>4AFD0239-D2EA-4394-A9B6-0D59FFE494F1</key>
		<dict>
			<key>xpos</key>
			<real>1510</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>5B204DEA-BC95-4EE4-BAA4-76E271A1BA77</key>
		<dict>
			<key>xpos</key>
			<real>1040</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>6795AE46-BC1D-4E60-997F-026AA72EC95F</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>6A35BEDD-5F92-4027-99A0-F5A7E608C3CA</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7146317A-BD7F-489C-A78D-57A0DA858AE3</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>7FE62936-C125-48A2-9857-879B401B9074</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>85143491-24AE-41B8-B7B7-C095D1DB0A68</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>89CF4FEB-7AC5-4DCE-AD02-B01C37A03F45</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>8F5FD263-68F7-4B57-9E0F-1D4A414B3EB9</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>9D51B1D1-D8E5-48FE-B689-9B99C5F334B6</key>
		<dict>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>A77C5978-3BA8-4159-ABDA-233532AB4E30</key>
		<dict>
			<key>xpos</key>
			<real>1250</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>AWARD-HISTORY-FILTER-UUID</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>AWARD-HISTORY-SCRIPT-UUID</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>B89F7C35-B65A-4F9C-9C24-0FFDFEAAA9F1</key>
		<dict>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>BF83B6EC-FD6C-41D1-B5D0-BD7178CDA4E9</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>C08CBB9C-BB75-4814-8F76-CCB045690478</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C4ADAB6A-8C7D-4555-9C98-76D91C027348</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>F4130124-75E6-46B0-93CF-0CF8AA4C28DB</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>F521F24B-2966-469C-9510-0BC915C6C37A</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>restaurant</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Restaurant Website</string>
						<string>restaurant</string>
					</array>
					<array>
						<string>Michelin Guide</string>
						<string>michelin</string>
					</array>
					<array>
						<string>Google Maps</string>
						<string>maps</string>
					</array>
					<array>
						<string>Apple Maps</string>
						<string>apple_maps</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Open in:</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>OPEN_IN</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/giovanni/alfred-michelin</string>
</dict>
</plist>
